In [2]:
import pandas as pd

In [3]:
train_data = pd.read_csv('../Data/Hotel-A-train.csv')

train_data.head(10)

,Reservation-id,Gender,Age,Ethnicity,Educational_Level,Income,Country_region,Hotel_Type,Expected_checkin,Expected_checkout,...,Meal_Type,Visted_Previously,Previous_Cancellations,Deposit_type,Booking_channel,Required_Car_Parking,Reservation_Status,Use_Promotion,Discount_Rate,Room_Rate
0,39428300,F,40,Latino,Grad,<25K,North,City Hotel,7/1/2015,7/2/2015,...,BB,No,No,No Deposit,Online,Yes,Check-In,Yes,10,218
1,77491756,F,49,Latino,Mid-School,50K -- 100K,East,City Hotel,7/1/2015,7/2/2015,...,BB,No,No,Refundable,Online,Yes,Check-In,No,0,185
2,73747291,F,42,caucasian,Grad,<25K,East,City Hotel,7/2/2015,7/6/2015,...,BB,No,No,No Deposit,Online,Yes,Check-In,No,0,119
3,67301739,M,25,African American,College,>100K,South,Airport Hotels,7/2/2015,7/3/2015,...,BB,No,No,Refundable,Agent,Yes,Check-In,Yes,5,144
4,77222321,F,62,Latino,High-School,25K --50K,East,Resort,7/3/2015,7/4/2015,...,BB,No,No,No Deposit,Direct,No,Check-In,Yes,10,242
5,55152245,M,34,African American,College,>100K,North,Airport Hotels,7/3/2015,7/4/2015,...,BB,Yes,No,No Deposit,Online,No,Check-In,Yes,10,143
6,87139343,F,53,African American,High-School,<25K,East,Airport Hotels,7/3/2015,7/4/2015,...,BB,Yes,Yes,Refundable,Online,Yes,Check-In,Yes,25,212
7,7647912,M,40,Latino,Mid-School,>100K,North,City Hotel,7/3/2015,7/4/2015,...,FB,No,No,No Deposit,Online,Yes,Check-In,No,0,170
8,94296865,M,59,African American,Mid-School,>100K,West,Resort,5/6/2015,5/7/2015,...,BB,No,No,Non-Refundable,Direct,Yes,Check-In,Yes,10,245
9,93087487,M,21,Latino,Grad,50K -- 100K,West,City Hotel,4/22/2015,4/25/2015,...,HB,Yes,No,Refundable,Online,No,Check-In,Yes,20,212